<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}TTUser{% endblock %}
        </title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
   
        <header>
            {% block header %}
                {% include 'header.html.twig' %}
            {% endblock %}
        </header>

        <main>
            <div class="container my-5">
                <div class="row">
                    <article>
                        {% block article %}
                        {% endblock %}
                    </article>
                </div>
            </div>
        </main>

        <footer>
            {% include 'footer.html.twig' %}
        </footer>

    </body>
            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>
